<section class="py-3 bg-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5 d-flex align-items-center justify-content-center justify-content-md-start mb-4 mb-md-0">
                <img src="../assets/images/logo-light.svg" height="40" alt="">
                <h4 class="mx-3 text-white h4 mb-0">訂閱你我的甜蜜郵件</h4>
            </div>
            <div class="col-md-5">
                <div class="form-square form-square-withicon d-flex justify-content-between">
                    <label for="subscription" class="form-square-icon-left">
                        <span class="material-symbols-outlined">
                            mail
                            </span>
                    </label>
                    <input type="email" id="subscription" class="form-input w-100">
                    <button class="btn btn-secondary btn-lg d-flex align-items-center rounded-0">
                        <img src="../assets/images/arrow_forward-24px.png" alt="">
                    </button>    
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="py-4 bg-info">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5 d-flex flex-column justify-content-between">
                <div>
                    <img src="../assets/images/logotype-lg-dark.svg" height="27px" alt="">
                </div>
                <ul class="list-unstyled mt-5">
                    <li>07-1234-5678</li>
                    <li><a href="mailto:sweetaste@email.com">sweetaste@email.com</a></li>
                    <li>800 高雄市新興區幸福路 520 號</li>
                </ul>
            </div>
            <!-- <h3 class="vertical-text text-primary">今天是個<br>吃甜點的好日子</h3> -->
             <div class="col-md-5 text-end d-none d-md-block">
                <img src="../assets/images/sm-今天是個吃甜點的好日子.svg" width="60px" alt="">
             </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-md-5 mt-2">
                <img src="../assets/images/ic-line@.svg" height="32px" alt="">
                <img src="../assets/images/ic-facebook.svg" height="32px" alt="">
            </div>
            <div class="col-md-5 mt-2 text-md-end">
                <p>© 2018 Sweetaste* All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>