    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <button class="navbar-toggler d-lg-none d-flex align-items-center border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="../assets/images/logo-all-dark.svg" height="40px" class="d-none d-md-inline-block" alt="">
                <img src="../assets/images/logotype-lg-dark.svg" height="18px" class="d-inline-block d-md-none" alt="">
            </a>
            <a href="#" class="nav-link d-flex align-items-center order-md-1 ms-5">
                <img src="../assets/images/shopping_cart.png" alt="">
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">首頁</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">甜點</a>
                    </li>
                    <li class="nav-item"></li>
                        <a class="nav-link" href="#">登入</a>
                    </li>
                </ul>
            </div>
        </div>    
    </nav>