<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=mail" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=favorite" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=favorite" />
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <section class="px-0 px-md-3 my-md-6">
        <div class="container">
            <div class="row g-0 justify-content-center">
                <div class="col-md-10">
                    <div class="p-5 bg-primary d-md-none">
                        <h1 class="mt-2 mb-2 text-center text-white">會員登入</h1>
                    </div>
                    <div class="row g-0 flex-md-row-reverse">
                        <div class="col-md-6 py-md-3">
                            <div class="bg-info p-5">
                                <h2 class="h4 text-center text-primary-light mb-5 d-none d-md-block">—— 連結社群帳號 ——</h2>
                                <div class="row g-0">
                                    <div class="col-4 col-md-12 mb-md-4">
                                      <button class="btn btn-brand-light d-block w-100 btn-lg py-3 h-100">
                                        <img src="../assets/images/ic-facebook-logotype.svg" class="img-fluid" width="108" alt="">
                                      </button>
                                    </div>
                                    <div class="col-4 col-md-12 mb-md-4">
                                      <button class="btn btn-brand-light d-block w-100 btn-lg py-3 h-100">
                                        <img src="../assets/images/ic-google.svg" class="img-fluid" width="94" alt="">
                                      </button>
                                    </div>
                                    <div class="col-4 col-md-12 mb-md-4">
                                      <button class="btn btn-brand-light d-block w-100 btn-lg py-3 h-100">
                                        <img src="../assets/images/ic-yahoo.svg" class="img-fluid" width="97" alt="">
                                      </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="p-5 bg-primary d-md-block d-none">
                                <h2 class="mt-2 mb-2 text-center text-white">會員登入</h2>
                            </div>
                            <div class="p-5 pt-md-0 bg-primary">
                                <div class="form-square form-square-withicon d-flex justify-content-between mb-3">
                                    <label for="username" class="material-icons form-square-icon-left">
                                      person
                                    </label>
                                    <input type="text" id="username" class="form-input w-100" placeholder="電子信箱/手機號碼">
                                  </div>
                                  <div class="form-square form-square-withicon d-flex justify-content-between mb-3">
                                    <label for="password" class="material-icons form-square-icon-left">
                                      vpn_key
                                    </label>
                                    <input type="password" id="password" class="form-input w-100" placeholder="請輸入使用者密碼">
                                  </div>
                                  <div class="custom-control custom-checkbox mb-0">
                                    <input type="checkbox" class="custom-control-input" id="rememberme">
                                    <label class="custom-control-label text-white" for="rememberme">記住我</label>
                                </div>
                            </div>
                            <button class="btn btn-secondary d-block w-100 rounded-0 btn-lg py-3 text-primary">登入帳號</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
